<!doctype html>
<html lang="en">
    <%- include("./partials/head.ejs", { styles: ["clubsAndMessages.css"], title: "Members Only" }) %>
    <body>
        <%- include("./partials/header.ejs") %>
        <main>
            <section class="container">
                <div>
                    <h1>Clubs</h1>
                    <% if (user) { %>
                        <a href="/clubs/new-club" class="btn">
                            <div><img src="/icons/plus.svg" alt="">New club</div>
                        </a>
                    <% } %>
                </div>
                <div>
                    <% if (clubs.length) { %>
                        <div class="clubs">
                            <% clubs.forEach(club => { %>
                                <section class="club">
                                    <div class="club-head">
                                        <div>
                                            <a href="/clubs/<%= club.title %>"><%= club.title %></a>
                                        </div>
                                        <% if (club.join) { %>
                                            <form action="/clubs/<%= club.title %>/join" method="POST">
                                                <button type="submit" class="btn" title="Join"><img src="/icons/enter.svg" alt=""></button>
                                            </form>
                                        <% } %>
                                        <% if (club.leave) { %>
                                            <form action="/clubs/<%= club.title %>/leave" method="POST">
                                                <button type="submit" class="btn" title="Leave"><img src="/icons/exit.svg" alt=""></button>
                                            </form>
                                        <% } %>
                                        <% if (club.delete) { %>
                                            <form action="/clubs/<%= club.title %>/delete" method="POST">
                                                <button type="submit" class="btn" title="Delete"><img src="/icons/delete.svg" alt=""></button>
                                            </form>
                                        <% } %>
                                    </div>
                                    <div class="club-body">
                                        <p><%= club.description %></p>
                                    </div>
                                </section>
                            <% }) %>
                        </div>
                    <% } else { %>
                        <div class="nothing">
                            <section>
                                <h2>Nothing here yet.</h2>
                                <% if (user) { %>
                                    <p>Be the first to create a club! You can create a club by clicking on the "New club" button.</p>
                                <% } else { %>
                                    <p>Be the first to create a club! Log in or sign up to create a club.</p>
                                <% } %>
                            </section>
                        </div>
                    <% } %>
                </div>
            </section>
        </main>
        <%- include("./partials/footer.ejs") %>
    </body>
</html>
